@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}

.content {
    height: 100vh;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light .content {
    background-color: #fff;
}

.dark .content {
    background-color: #444;
}

.content h1 {
    font-size: 7vw;
}

.light h1 {
    color: #444;
}

.dark h1 {
    color: #fff;
}

.title,
.sub-container {
    padding-top: 6rem;
}

#toggle-btn {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.light #update-text {
    color: #444;
}

.dark #update-text {
    color: #fff;
}

#update-text {
    font-size: 30px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1.5rem;
}

.standard-btn {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.light #toggle-btn,
.light .standard-btn {
    background-color: #444;
    color: #fff;
}

.dark #toggle-btn,
.dark .standard-btn {
    background-color: #fff;
    color: #444;
}